*{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 720px;
}

.todo{
    display: flex;
    width: 400px;
    height: 600px;
    background-color: aqua;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    width: 300px;
    height: 30px;
    background-color: blue;
    margin-top: 30px;
    justify-content: center;    
}

.header h1{
    font-family: monospace;
}

.addBlock{
    display: flex;
    width: 300px;
    height: 50px;
    margin-top: 40px;
    background-color: blueviolet;
    border-radius: 3px;
    justify-content: flex-end;
    align-items: center;    
}

.addItems{
    width: 30px;
    height: 30px;
    background-color: brown;
    margin-right: 10px;
}